#include <windows.h>
#include "resource.h"

#pragma code_page(65001)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_PLUGININFO "Version 0.03\r\nMIDIファイルをサポートしています"
END
